body {
  font-family: sans-serif;

  text-align: center;
  padding: 30px;
  padding-top: 0;
  /* background-image: url(hanuman\ ji.jpg);
  background-position: center; */
}

.heading {
  font-size: 75px;
  margin-bottom: 40px;
  color: white;
  background-color: rgb(194, 64, 4);
  border-radius: 15px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 400px;
  margin: auto;
}

a {
  text-decoration: none;
  background-color: #ffe082;
  color: #3e2723;
  padding: 18px 24px;
  border-radius: 12px;
  font-size: 18px;
}

a:hover {
  color: #830000;
  background-color: #ffca28;
  font-weight: bold;
}

.bg-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /*To Maintain aspect ratio*/
  z-index: -1; /*To keep image behind your text*/
  opacity: 1;
}

.container {
  position: relative; /*To sit above the image*/
  z-index: 1;
}
